body{
	color: #381d09
}
.page-header{
	min-height: 85vh;
	max-height: 999px;
	border-radius: 0px 0px 50px 50px;
}
/*.alumni-tes{
	min-height: 99vh;
	max-height: 999px;
	border-radius: 0px 0px 50px 50px;
}*/
.section-about-us{
	padding: 20px 0;
}
.bg-page{
	background-color: #381d09;
}
.navbar-brand{
	margin: 0px 90px 0px 0px;
}
.navbar .navbar-nav .nav-link:not(.btn){
	padding: 0.875rem;
	border-radius: 2rem;
}
/*li.nav-item:hover{
	background-color: transparent;
	border-radius: 2rem;
}*/
.f-me{
	font-weight: 900;
}
.sidebar-collapse .navbar-collapse:before {
	background: linear-gradient(#381d09 0%, #444 150%);
	opacity: 0.99;
}
.padding{
	padding-top: 50px;
}
.btn-me{
	background-color: #f96332;
}
.btn-secondary{
	background-color: #f96332;
}
.btn-secondary:hover{
	background-color: #fd4003;
}
.btn:hover, .btn:focus,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active:focus, 
.btn:not(:disabled):not(.disabled).active:focus, 
.btn:active:hover, .btn.active:hover, .show>.btn.dropdown-toggle, 
.show>.btn.dropdown-toggle:focus, .show>.btn.dropdown-toggle:hover, 
.navbar .navbar-nav>a.btn:hover, .navbar .navbar-nav>a.btn:focus, 
.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled):active, 
.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled).active, 
.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled):active:focus, 
.navbar .navbar-nav>a.btn:not(:disabled):not(.disabled).active:focus, 
.navbar .navbar-nav>a.btn:active:hover, .navbar .navbar-nav>a.btn.active:hover, 
.show>.navbar .navbar-nav>a.btn.dropdown-toggle, 
.show>.navbar .navbar-nav>a.btn.dropdown-toggle:focus, 
.show>.navbar .navbar-nav>a.btn.dropdown-toggle:hover{
	background-color: #f96332;
	color: white;
	box-shadow: none;
}
a.nav-link:hover{
	background-color: #f96332;
}
.btn-me:hover{
	background-color: #fd4003;
}
.btn-weight{
	margin-left: 0.875rem;
	font-weight: bold;
}
.section-team{
	color: white;
	border-radius: 0px 0px 50px 50px;
	background-color: #381d09;
}
.t2{
	color: #381d09;
	background-color: white;
	border-radius: 0px;
}
.description{
	font-weight: normal;
	color: #381d09;
}
.description-1, .name{
	font-weight: normal;
	color: #381d09;
}
.team{
	color: #f96332;
	margin-bottom: 50px;
}
hr {
    border-color: #f96332;
    border-width: 5px;
    max-width: 100%;
}
.t-col{
	color: #f96332;
}
.blockquote-col{
	font-weight: normal;
	border-color: #381d09;
	color: #381d09;
}

/*Styles related to Testimonials page*/
.section-testimonials{
	padding: 70px 0px 10px 0px;
}
.con-testimonials{
	padding: 50px 70px 0px 70px;
}
.tes-h2{
	color: #f96332;
}

.tes-hr{
	border-color: #f96332;
    border-width: 4px;
    max-width: 25%;
    padding: 20px 0px;
}
.footer.footer.footer-default{
	color: white;
	background-color: #381d09;
}

/*Styles Related to Why Heaven's Path page*/

.padding-why{
	padding-top: 5px;
}
.padding-obj{
	padding-bottom: 20px;
}
.margin-obj{
	margin-top: 50px;
}
.row-bg{
	background-color: #381d09;
	padding-bottom: 30px; 
}
